Social Media Auto Posting Workflow.json
{
  "name": "Social Media Auto Posting Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -16
      ],
      "id": "eed47c7f-e08d-4d19-b4d3-81261575f6f8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11qTSnZz1QebjT2NrWRxoax3PZ1HH_HqBhPPknZuwt58",
          "mode": "list",
          "cachedResultName": "auto-data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11qTSnZz1QebjT2NrWRxoax3PZ1HH_HqBhPPknZuwt58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1680093809,
          "mode": "list",
          "cachedResultName": "Sheet7",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11qTSnZz1QebjT2NrWRxoax3PZ1HH_HqBhPPknZuwt58/edit#gid=1680093809"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "padding"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -16
      ],
      "id": "e52e1364-d534-4ed4-99de-2b3fbd505db5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XWLqCj30RqQFr4y",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Write an engaging {{ $json.platform }} caption \nfor this topic: {{ $json.topic }}\nInclude relevant hashtags.\nMake it professional and attractive."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        112,
        -16
      ],
      "id": "bd7fd93e-f030-47ea-b520-f4223e56c746",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "YKnpsKgaf2V2OPun",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AU6FADNL9",
          "mode": "list",
          "cachedResultName": "minalk"
        },
        "text": "={{ $json.output[0].content[0].text }}\n\n🖼️ Image: {{ $('Get row(s) in sheet').item.json.image_url }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        464,
        -16
      ],
      "id": "228fb232-e496-4afa-9691-9a9dd0ab8baf",
      "name": "Send a message1",
      "webhookId": "649016f0-4a89-4e85-a594-8c16cc4342d8",
      "credentials": {
        "slackApi": {
          "id": "WEDI9lfAEGxHdo2u",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "24912255-2afa-41b7-bce9-bdc3781e749b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fbc00d114bbd1def22ade720b498f533e608d11288af8ee44a6bbc5d1988e16e"
  },
  "id": "GC2RAWtgoV7bdNbh",
  "tags": []
}